/* Kopiér/brug hele din eksisterende location-db.component.css, evt. byt .locationdb- ud med .steddatabase- hvis du ønsker unikt navn, ellers behold samme styles */
@import '../location-db/location-db.component.css';
